.bottom_border {
	width: 90%;
	height: 1px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 64px;
	margin-top: 64px;
	background: radial-gradient(
		50% 50% at 50% 50%,
		#c1c1c1 26.04%,
		rgba(255, 255, 255, 0) 100%
	);
}
