.movie_page__loader {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background: #ccc;
	animation-name: blink;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
